<h1>Add your Artist here :)</h1>

<%= form_for(@artist) do |f| %>
  <div>
    <!-- Comments here -->
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
    <p><%= f.label :super_nice_img %></p>
    <%= f.file_field :artistimg %>
  </div>
    <%= f.submit "Save Artist" %>
    <%= link_to "Home", root_path %>

<% end %>
