<h1>New Artist</h1>

<%= form_for(@artist) do |f| %>
  <div>
    <!-- Comments here -->
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
  </div>
    <%= f.submit "Save Artist" %>
    <%= link_to "Back", root_path %> <!-- link_to -->
<% end %>
