<h1>Edit Song</h1>

<%= form_for(@song) do |f| %>
  <div>
    <p><%= f.label :song %></p>
    <%= f.text_field :track %>
  </div>

  <div>
    <%= f.submit "Save Song" %>
    <%= link_to "Cancel", @song %>
  </div>
<% end %>
