<h1>Add your Song here :)</h1>
<p>--------------------------------------------------------</p>
<%= form_for(@song) do |f| %>
  <p><%= f.label :artist_id %></P>
  <%= f.select :artist_id, options_for_select(@artists.collect{ |a| [a.name, a.id] }) %>
  <p><%= f.label :song %></p>
  <%= f.text_field :track %>
  <p><%= f.submit "Save Song" %></p>
<% end %>
<p>--------------------------------------------------------</p>
<%= link_to "Home", root_path %>
